<nav class="navbar navbar-expand-lg fixed-top navbar-custom">
  <div class="container-fluid">
    <img src="logoQuizzYourself.png" alt="QuizzYourself" class="logo">
    <a class="navbar-brand text-white" (click)="goToHome()">QuizzYourself</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-white" tabindex="-1" id="offcanvasNavbar"
         aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">QuizzYourself</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item dropdown ms-3" *ngIf="isLoggedIn">
            <a class="nav-link text-white dropdown-toggle" (click)="onProfileClick($event)" routerLink="/profile">Profile</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/profile">Voir le Profil</a></li>
              <li><a class="dropdown-item" routerLink="/dashboard">Statistiques</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="/accueil" (click)="onLogout()">Déconnexion</a></li>
            </ul>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link text-white active" aria-current="page" (click)="goToHome()">Accueil</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link text-white" routerLink="/leaderboard">Leaderboard</a>
          </li>
          <li class="nav-item ms-3" *ngIf="!isLoggedIn">
            <a class="nav-link text-white" routerLink="/auth/signup">Inscription</a>
          </li>
          <li class="nav-item ms-3" *ngIf="!isLoggedIn">
            <a class="nav-link text-white" routerLink="/auth/login">Connexion</a>
          </li>
          <!--<li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link text-white" routerLink="/accueil" (click)="onLogout()">Déconnexion</a>
          </li>-->
        </ul>
      </div>
    </div>
  </div>
</nav>
