.quiz-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.quiz-content {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.question-container {
  width: 80%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease;
}

.question-container.visible ::ng-deep .option-button {
  color: #1976d2;
  background-color: white;
}

.question-container.hidden {
  background-color: #212529;
}

.question-container.hidden ::ng-deep .timer,
.question-container.hidden ::ng-deep .option-button {
  color: #212529;
  border-color: #212529;
  background-color: #212529;
}

.quiz-progress {
  max-width: 800px;
  margin: 10px auto;
  padding: 0 15px;
}

.progress-text {
  display: block;
  text-align: center;
  margin-top: 5px;
  color: white;
}

.next-button {
  margin: 20px auto;
  padding: 10px 30px;
  font-size: 1.1rem;
}

.next-button:hover {
  background-color: #1976d2;
  color: white;
}

.question-prompt {
  font-size: 1.5rem;
  color: white;
  margin: 20px 0;
  text-align: center;
}
