<div class="container text-center custom-container">
  <div class="row">
    <div class="col">
      <app-stats-parties-jouees></app-stats-parties-jouees> <!--// parties jouées-->
    </div>
    <div class="col">
      <app-line-chart-evolution-scores></app-line-chart-evolution-scores> <!--// evolution scores-->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-pie-chart-taux-reussite></app-pie-chart-taux-reussite> <!--// taux de réussite-->
    </div>
    <div class="col">
      <app-bar-chart-temps-reponse></app-bar-chart-temps-reponse> <!--// temps réponses-->
    </div>
  </div>
</div>
