.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre la légende et le graphique ensemble */
  justify-content: center;
  width: 100%;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; /* Taille ajustable */
}

canvas {
  display: block;
  max-width: 100%; /* Permet de garder l'échelle */
  height: auto;
}
